NODE_ENV=development/production
CLIENT_URL=http://localhost:5173

# DB
DATABASE_URL=postgresql://[username]:[password]@localhost:5432/[db_name]

# jwt
ACCESS_TOKEN_SECRET=token_secret
ACCESS_TOKEN_VALIDITY=validity
COOKIE_VALIDITY=validity
SALT=any_number

# smtp
MAIL_HOST=smtp_host(ex.gmail)
MAIL_PORT=587
MAIL_USER=mail_user
MAIL_PASSWORD=mail_password
MAIL_FROM="Atlas <no-reply@domain.com>"

# logo url(email_template)
LOGO_URL=public_url